doctype html
html
    head
        title Update Game Value
    body
        form(action=`/game-value/${line.id}?_method=PUT` method="POST")
            input(type="text" name="g8" placeholder="u" value=`${line.g8}`)
            input(type="text" name="g8bridge" placeholder="p" value=`${line.g8bridge}`)
            input(type="text" name="setValue" placeholder="action" value=`${line.setValue}`)
            input(type="integer" name="sid" placeholder="sid" value=`${line.sid}`)
            input(type="integer" name="IdGame" placeholder="eid" value=`${line.IdGame}`)
            input(type="integer" name="leg" placeholder="leg" value=`${line.leg}`)
            input(type="integer" name="pid" placeholder="pid" value=`${line.pid}`)
            input(type="text" name="lid" placeholder="lid" value=`${line.lid}`)
            input(type="text" name="VisitorOdds" placeholder="vml" value=`${line.VisitorOdds}`)
            input(type="text" name="HomeOdds" placeholder="hml" value=`${line.HomeOdds}`)
            input(type="text" name="TotalOver" placeholder="ttl" value=`${line.TotalOver}`)
            input(type="text" name="OverOdds" placeholder="tov" value=`${line.OverOdds}`)
            input(type="text" name="UnderOdds" placeholder="tun" value=`${line.UnderOdds}`)
            input(type="text" name="VisitorSpread" placeholder="vsd" value=`${line.VisitorSpread}`)
            input(type="text" name="VisitorSpreadOdds" placeholder="vso" value=`${line.VisitorSpreadOdds}`)
            input(type="text" name="HomeSpread" placeholder="hsd" value=`${line.HomeSpread}`)
            input(type="text" name="HomeSpreadOdds" placeholder="hso" value=`${line.HomeSpreadOdds}`)
            input(type="text" name="VisitorSpecialOdds" placeholder="draw" value=`${line.VisitorSpecialOdds}`)

            input(type="submit" value="Update")
