html
    head
        title Game Value
    body
        table(style='width:100%', border='1')
            tr
                th u
                th p
                th action
                th sid
                th eid
                th leg
                th pid
                th vml
                th hml
                th ttl
                th tov
                th tun
                th vsd
                th vso
                th hsd
                th hso
                th draw
                each line in lines
                    tr
                        td= line.g8
                        td= line.g8bridge
                        td= line.setValue
                        td= line.sid
                        td= line.IdGame
                        td= line.leg
                        td= line.pid
                        td= line.VisitorOdds
                        td= line.HomeOdds
                        td= line.TotalOver
                        td= line.OverOdds
                        td= line.UnderOdds
                        td= line.VisitorSpread
                        td= line.VisitorSpreadOdds
                        td= line.HomeSpread
                        td= line.HomeSpreadOdds
                        td= line.VisitorSpecialOdds
        script(src="/socket.io/socket.io.js")
        script.
            socket = io.connect()
            socket.on('new_game_value', function (data) {
                console.log(data);
            })
            socket.on('update_game_value', function (data) {
                console.log(data);
            })