html
    head
        title Game Value
    body
        table(style='width:100%', border='1')
            tr
                th eid
                th vml
                th hml
                th ttl
                th tov
                th tun
                th vsd
                th vso
                th hsd
                th hso
                th draw
                each line in lines
                    tr
                        td= line.IdGame
                        td= line.VisitorOdds
                        td= line.HomeOdds
                        td= line.TotalOver
                        td= line.OverOdds
                        td= line.UnderOdds
                        td= line.VisitorSpread
                        td= line.VisitorSpreadOdds
                        td= line.HomeSpread
                        td= line.HomeSpreadOdds
                        td= line.VisitorSpecialOdds
        script(src="/socket.io/socket.io.js")
        script.
            socket = io.connect(window.location.origin)
            socket.on('new_game_value', function (data) {
                console.log(data);
            })
            socket.on('update_game_value', function (data) {
                console.log(data);
            })